@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root{
    --Yellow: hsl(47, 88%, 63%);
    --White: hsl(0, 0%, 100%);
    --Grey: hsl(0, 0%, 50%);
    --Black: hsl(0, 0%, 7%);
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--Yellow);
    font-family: "Figtree", sans-serif;
    font-weight: 500;
    max-width: 1440px;
    min-width: 375px

}
#container{
    width: 384px;
    height: 522px;
    background-color: var(--White);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 27px;
    border-right: 9px solid var(--Black);
    border-left: 1px solid var(--Black);
    border-top: 1px solid var(--Black);
    border-bottom: 9px solid var(--Black);
    
}
#card-img{
    background-image: url(./assets/images/illustration-article.svg);
    width: 336px;
    height: 200px;
    background-repeat: no-repeat;
    margin: auto;
    margin-top: 24px;
    border-radius: 20px;
}
#content{
    margin-top: 24px;
    margin-left: 24px;
    margin-right: 24px;

}
#content h1{
    font-size: 28px;
    font-weight:800;
    margin-bottom: 21px;
    transition: .7s;
    
}
#content h1:hover{
    cursor: pointer;
    color: var(--Yellow);
}
#content #publishdate{
    margin-top: 12px;
    margin-bottom: 22px;
    font-weight: 500;
}
#content #description{
    margin-top: 12px;
    margin-bottom: 22px;
    font-weight: 500;
    color: var(--Grey);
    font-size: 19px;
    line-height: 18px;
}
#category{
    width: 82px;
    height: 29px;
    border-radius: 4px;
    background-color: var(--Yellow);
    text-align: center;
    vertical-align: middle;
    line-height: 29px;
    font-weight: 700;
}
#author{
    display: flex;
    margin-top: 24px;
}
#author img{
    width: 32px;
    height: 32px;
}
#author h3{
    margin-left: 12px;
    line-height: 29px;
}
@media only screen and (max-width: 600px) {
    #container{
        width: 327px;
        height: 510px;
        background-color: var(--White);

    
    }
    #content{
        margin-top: 24px;
        margin-left: 24px;
        margin-right: 24px;
        margin-bottom: 24px;
    
    }
    #content h1{
        font-size: 23px;
    
        
    }
    #card-img{
        background-image: url(./assets/images/illustration-article.svg);
        width: 279px;
        height: 200px;
        background-repeat: no-repeat;
        margin: auto;
        margin-top: 24px;
        border-radius: 20px;
    }
    #content #description{
        margin-top: 24px;
        font-weight: 500;
        color: var(--Grey);
        font-size: 16px;
        line-height: 18px;
    }
    #author{
        margin-bottom: 24px;
    }

}
    
    